---
title: PELF
---

<div class="welcome">
  <h1><strike>Middleman</strike>PELF is Watching</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p><!-- .doc -->
</div><!-- .welcome -->